.ForecastItem{

    border: 1px solid inherit;
    width: 160px;
    height: 180px;
    display: flex;
    flex-basis: 160px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    font-size: 1rem;
    
}

.ForecastItem span{

        font: .7em sans-serif;
}

.ForecastItem:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

